<ion-menu [content]="content">

  <ion-content  style="color: white">



    <ion-list>
      <ion-list-header style="background-color: #305baf;color: white">
        Shop
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header style="background-color: #305baf;color: white">
        Help
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header style="background-color: #305baf;color: white">
        Account
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of accountMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
